
* {
    margin: 0;
    padding: 0;
    font-family: "Atkinson Hyperlegible", "sans-serif";
/* Atkinson Hyperlegible, named after the founder of the Braille Institute, has been developed specifically to increase legibility for readers with low vision, and to improve comprehension. */    
}

body { 
    color: #41d4d2;
    font-size: 1rem;
}

footer p, h1, h2, h3 {
    font-family: "Dongle", "sans-serif";
    font-size: 2em;
}

footer p, header h1 {
    color:#1CC7F5
}

header, footer p  {
    background-color: #2A1C70;
    padding: 1em;
}


/* élements de header */
.titres h1 {
    font-size: 2em;
    /* background: red; */
    max-height: 30px;
}

header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

header h2 {
    font-size: 1.5em;
    color:#9fe6fa;
    /* background-color: #fff;  */
}

button {
    padding: 6px;
    margin: 10px;
    background-color: #FF8FB0;
    max-width: 150px;
}

button a {
 color:#2a1c70;
 background-color: inherit;
 padding: inherit;
 margin: inherit;
 font-size: 1.5rem;
 font-family: "Dongle", "sans-serif";
 text-decoration: none;
}

button:hover a {
    color: #e6d8fa;
}

#boutons button:hover {
    border-bottom-color: #2a1c70;
}

#boutons {
    display: flex;
    flex-direction: column;
}

/* éléments de footer */
footer p {
    font-size: 2vw;
    text-align: center;
}

footer {
    margin-bottom: 0%;
    padding-bottom: 0%;
}


/* mise en page responsive */
@media screen and (max-width: 700px) {
    h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 701px) {
    body {
        padding: 10vw;
        padding-top: 0vw;
    }

    button {
        margin: calc(10px+10vw);
    }
}


/* éléments de Main */
main {
    background-color: #153746;
    text-align: center;   
    padding: 5% 0;
    padding-top: 0%;
    padding-bottom: 2%;
}


main h1 {
    color:#4BF0EE;
    margin-top: 0.5em;
    font-size: 2.5rem;   
    text-align: center;
}

p {
    text-align: justify;
    font-size: medium;
    margin: 0.5vw;
    padding: 0.5vw;
    /* background-color: blueviolet;*/
}

p span {
    font-weight: bold;
    color: #f2cd5e;
}

img { 
    width: 100%;
    max-width: 100%;
    margin: 0%;
}

/* éléments de mainNav */
#mainNav {
    background-color: #41d4d2;
    padding: 1vw;
    padding-left: 1em;
    text-align: left;
    color: #2a1c70;
}

/* éléments spécifiques index.html */
#imgAvecCredits {
padding: 6px;
display: flex;
align-items: flex-end;
flex-direction: column;
}

#txtImgAccueil {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
}

/* éléments spécifiques mesProjets.html */
.projectsNav {
    background-color:#1CC7F5;
    padding: 1vw;
    display: flex;
    justify-content: center;
    width: max-content;
}

.projectsNav a {
text-decoration: none;
color: #2a1c70;
}

.projetsWeb h2 {
    color: #f2cd5e;
    margin-top: 1em;
}

#missions {
    display: flex;
    justify-content: space-between;
     /*background-color: red; */
}

.missionGIT {
    position: relative;
    text-align: center;
    /* background-color:#ee3; */
    padding: 0%;
    margin: 1em;
}

 /* page aPropros.html */
#mur {
    justify-content: flex-start;
}

#mainAPropos h1 {
    color: #f2cd5e;
}

 /* page contact.html */
#pageContact h1 {
    color: #e6d8fa;
    padding: 1rem;
    font-size: 4em;
}

#pageContact {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

form {
    /* Uniquement centrer le formulaire sur la page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:space-around ;
    margin: 0 auto;
    width: 65vw;
    height: fit-content;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.bodyForm {
    padding: 1em;
 }

.footerForm {
    display: flex;
    justify-content: center;
} 

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
 }

input, textarea {
    background-color:#e6d8fa;
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;

    /* Pour que tous les champs texte aient la même dimension */
    width: 45vw;
    min-height: 30px;
    box-sizing: border-box;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
    margin-bottom: 1vh;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
  
    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
}
   
button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
       entre les étiquettes et les champs texte */
     margin-left: .5em;
     margin-top: 1em;
}

.formButton button:hover {
    color: #999;
    border-bottom-color: #000;
}

.formButton button {
    color:#153746;
    background-color: #41d4d2;
}

@media screen and (min-width: 650px) {
    label {
        /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
        display: flex;
        width: 60vw;
        justify-content:center;
        padding: 0.5rem;
        padding-left: 0rem;
     }
} 


